---
layout: bootstrap
title: Gallery
---

<div class="container">
  <h1>TechFolio Gallery</h1>

  <p>This page provides pointers to a few portfolios illustrating various features of TechFolio. Please contact us if
    you want your site included.</p>
</div>

{% include gallery-entry.html background="gray" title="Template" image="techfolio-molly-home-page.png" paragraph-1="Template implements simple portfolio for a hypothetical student named Molly Maluhia." paragraph-2="If you are starting a portfolio from scratch, use the template repo to get going quickly." live-site="http://techfolios.github.io/template/" public-repo="https://github.com/techfolios/template" %}

{% include gallery-entry.html background="white" title="Philip Johnson" image="techfolio-gallery-pj.png" paragraph-1="The professional portfolio site for Professor Philip Johnson." paragraph-2="This site illustrates how to link to external sites for project details, and how to provide biographical information in CV rather than resume format." live-site="http://philipmjohnson.github.io/" public-repo="https://github.com/philipmjohnson/philipmjohnson.github.io" %}

{% include gallery-entry.html background="gray" title="Josephine Garces" image="techfolio-gallery-jg.png" paragraph-1="Josephine Garces' professional portfolio." paragraph-2="Josephine changed the favicon and added a link to her Medium site, among other customizations." live-site="https://jogarces.github.io/" public-repo="https://github.com/jogarces/jogarces.github.io" %}

