---
layout: bootstrap
title: Gallery
---

<div class="container">
  <h1>TechFolio Gallery</h1>

  <p>This page provides pointers to a few portfolios illustrating various features of TechFolio.</p>
</div>

{% include gallery-entry.html background="gray" title="Template" image="techfolio-molly-home-page.png" paragraph-1="Template implements simple portfolio for a hypothetical student named Molly Maluhia." paragraph-2="If you are starting a portfolio from scratch, use the template repo to get going quickly." live-site="http://techfolios.github.io/template/" public-repo="https://github.com/techfolios/template" %}

{% include gallery-entry.html background="white" title="Josephine Garces (B.S. student)" image="techfolio-gallery-josephine.png" paragraph-1="Josephine Garces' professional portfolio." paragraph-2="Josephine changed the favicon and the default theme." live-site="https://jogarces.github.io/" public-repo="https://github.com/jogarces/jogarces.github.io" %}

{% include gallery-entry.html background="gray" title="Amy Takayesu (M.S. student)" image="techfolio-gallery-amy.png" paragraph-1="Amy Takayesu's professional portfolio." paragraph-2="Amy changed the color scheme and the default layouts for certain pages." live-site="https://amymalia.github.io/" public-repo="https://github.com/amymalia/amymalia.github.io" %}

{% include gallery-entry.html background="white" title="Anthony Christe (Ph.D. student)" image="techfolio-gallery-ac.png" paragraph-1="Anthony Christe's professional portfolio." paragraph-2="Anthony's essays are designed to satisfy the requirements for the ICS Ph.D. portfolio process." live-site="https://anthonyjchriste.github.io/" public-repo="https://github.com/anthonyjchriste/anthonyjchriste.github.io" %}

{% include gallery-entry.html background="grey" title="Nathan Lam (B.S. student)" image="techfolio-gallery-nathan.png" paragraph-1="Nathan Lam's professional portfolio." paragraph-2="Nathan made extensive changes to the default layouts on all pages. He defined a custom domain (nathan-lam.com) to point to his site." live-site="https://nathan-lam.com/" public-repo="https://github.com/nathancy/nathan-lam.com" %}

{% include gallery-entry.html background="white" title="Philip Johnson (Professor)" image="techfolio-gallery-pj2.png" paragraph-1="Philip Johnson's professional portfolio." paragraph-2="Philip defined a custom domain (philipmjohnson.org) to link to his philipmjohnson.github.io site. He links to external sites for project details, and uses a custom theme to provide biographical information as an \"Abbreviated CV\" along with a link to his full CV." live-site="http://philipmjohnson.org/" public-repo="https://github.com/philipmjohnson/philipmjohnson.github.io" %}

{% include gallery-entry.html background="grey" title="ICS Portfolios" image="techfolio-gallery-ics-portfolios.png" paragraph-1="The ICS Portfolios site." paragraph-2="ICS Portfolios provides a portal to dozens of professional portfolios created by students and faculty in the Department of Information and Computer Sciences at the University of Hawaii." live-site="https://ics-portfolios.github.io/" public-repo="https://github.com/ics-portfolios/ics-portfolios.github.io" %}
