---
layout: bootstrap
title: Gallery
---

<div class="container">
  <h1>TechFolio Gallery</h1>

  <p>This page provides pointers to a few portfolios illustrating various features of TechFolio. Please contact us if
    you want your site included.</p>
</div>

{% include gallery-entry.html background="gray" title="Template" image="techfolio-molly-home-page.png" paragraph-1="Template implements simple portfolio for a hypothetical student named Molly Maluhia." paragraph-2="If you are starting a portfolio from scratch, use the template repo to get going quickly." live-site="http://techfolios.github.io/template/" public-repo="https://github.com/techfolios/template" %}

{% include gallery-entry.html background="white" title="Philip Johnson" image="techfolio-gallery-pj.png" paragraph-1="Philip Johnson's professional portfolio." paragraph-2="Philip defined a custom domain (philipmjohnson.org) to link to his github.io site. He links to external sites for project details, and uses a custom theme to provide biographical information as an \"Abbreviated CV\" along with a link to his full CV." live-site="http://philipmjohnson.org/" public-repo="https://github.com/philipmjohnson/philipmjohnson.github.io" %}

{% include gallery-entry.html background="gray" title="Josephine Garces" image="techfolio-gallery-jg.png" paragraph-1="Josephine Garces' professional portfolio." paragraph-2="Josephine changed the favicon and added a link to her Medium site." live-site="https://jogarces.github.io/" public-repo="https://github.com/jogarces/jogarces.github.io" %}

{% include gallery-entry.html background="white" title="Aljon Preza" image="techfolio-gallery-ap.png" paragraph-1="Aljon Preza's professional portfolio." paragraph-2="Aljon added a link to his Instagram account and used a different theme for his Essays page." live-site="https://aljonpreza.github.io/" public-repo="https://github.com/aljonpreza/aljonpreza.github.io" %}

{% include gallery-entry.html background="gray" title="Cam Moore" image="techfolio-gallery-cm.png" paragraph-1="Cam Moore's professional portfolio." paragraph-2="Cam uses a different theme for the home page and a CV-style resume." live-site="https://cammoore.github.io/" public-repo="https://github.com/cammoore/cammoore.github.io" %}
